# This is used to tag the image, upload to repository and download. The version
# tag and the latest tag will be added later.
DOCKER_TAG=odoo

# The following fields are only used to run from docker. They are
# not needed for kubernetes install.
APP_IMAGE=odoo:latest
